<div class="card" *ngIf="aktuelleDetailAnsicht == 'Kanzleimanagement'">
    <h1>Kanzleimanagement</h1>
    <p>Unternehmerisch betrachtet sind Sie als Kanzleiinhaber wie ein Unternehmer für das gesamte Management Ihrer Kanzlei verantwortlich. Sehen Sie hier im Überblick die Handlungsfelder des Kanzleimanagements und mit welchen Produkten und Dienstleistungen Sie DATEV bei diesen Management-Aufgaben unterstützt.</p>
    <div>
      <h3>Unterstützte Management-Aufgaben</h3>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev">Strategie & Geschäftsentwicklung</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_2">Personal & Führung</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_1">Prozesse & Organisation</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_3">IT & Technik</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_4">Honorar & Controlling</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_5">Marketing</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/kanzleimanagement/#anchor_st_alternating_entry_section__datev_6">Softwareeinsatz beim Mandanten</a><br>
    </div>
</div>
<div class="card" *ngIf="aktuelleDetailAnsicht == 'Beratungsfelder'">
    <h1>Beratungsfelder</h1>
    <p>Beraten Sie über das klassische Kanzleigeschäft hinaus. Die Ansatzpunkte für Ihre Kanzlei sind vielfältig – von der steuerlichen oder betriebswirtschaftlichen hin zur lohnnahen Beratung. Sprechen Sie mit Ihren Mandantinnen und Mandanten auch über branchenspezifische Besonderheiten, die Qualität der Daten aus Vor- und Hauptsystemen oder die Erstellung einer Verfahrensdokumentation.</p>
    <div>
      <h3>Beratungsarten</h3>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/beratungsfelder/#anchor_st_alternating_entry_section__datev">Branchenspezifische Beratung</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/beratungsfelder/#anchor_st_alternating_entry_section__datev_1">Betriebswirtschaftliche Beratung</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/beratungsfelder/#anchor_st_alternating_entry_section__datev_3">Beratung Verfahrensdokumentation</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/beratungsfelder/#anchor_st_alternating_entry_section__datev_4">Beratung digitale Datenanalyse</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/beratungsfelder/#anchor_st_alternating_entry_section__datev_5">Beratungsfelder Lohn- und Personalthemen</a>
    </div>
</div>
<div class="card" *ngIf="aktuelleDetailAnsicht == 'Digitale Kanzlei-Entwicklung'">
    <h1>Digitale Kanzlei-Entwicklung</h1>
    <p>Als zuverlässiger Wegbereiter ebnet DATEV den Weg in die digitale Entwicklung Ihrer Kanzlei. Die folgende Übersicht soll dabei eine Orientierung geben, welche Schritte Sie in Ihren eigenen Kanzleiprozessen aber auch bei der Zusammenarbeit mit Ihren Mandanten auf dem Weg zur Digitalisierung gehen sollten.</p>
    <div>
      <h3>Digitalisierung</h3>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/digitale-kanzlei-entwicklung/#anchor_st_alternating_entry_section__datev">Digitale Kanzlei-Buchführung</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/digitale-kanzlei-entwicklung/#anchor_st_alternating_entry_section__datev_1">Digitale Kanzlei-Organisation</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/digitale-kanzlei-entwicklung/#anchor_st_alternating_entry_section__datev_2">Digitale Schnittstelle Kanzlei/Mandant</a><br>
      <a href="https://www.datev.de/web/de/loesungen/steuerberater/digitale-kanzlei-entwicklung/#anchor_st_alternating_entry_section__datev_3">Digitale Geschäftsmodelle</a><br>
    </div>
</div>

