p {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 6px;
}

a {
    font-family: Helvetica, Arial, sans-serif;
}

.space {
    margin-top: 50px;
}